.login-container {
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.login-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 248, 248);
    width: 50%;
    align-items: center;
    justify-content: center;
    font-size: larger;
}

.login-form {
    text-align: center;
    justify-self: center;
}

#login-button-1 {
    background-color: #F3A51A;
    border: none;
    padding: 20px;
    width: 100px;
    margin: 10px;
    border-radius: 20px;
    font-size: 15px;
}

#login-button-1:hover{
    background-color: #d69016;
}